
<% @list.products.each do |product| %>
  <div class="card-edit">

    <div class="card-edit1">
      <%= image_tag product.photo %>
      <div class="card-edit-text">
        <h3><%= product.name %></h3>
        <p><%= "#{product.quantity} #{product.unit}" %></p>
      </div>
    </div>

    <% item = Item.find_by(product: product, list: @list) %>

    <div class="card-edit2">

      <div class="card-edit-btn">
        <%= button_to '-', list_item_minus_path(@list, item), method: :patch %>
      </div>

      <div class="card-edit-number">
        <p><%= item.quantity %></p>
      </div>

      <div class="card-edit-btn">
        <%= button_to '+', list_item_plus_path(@list, item), method: :patch %>
      </div>
    </div>

  </div>
<% end %>

<div class="list-edit-bottom">
      <a href="#" class="edit-btn1">My Deals</a>
      <a href="#" class="edit-btn2">Save List</a>
</div>
