<div class="navbar-aicery">
  <%= link_to root_path do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <p>My Saved Lists</p>
  <%= link_to list_path(current_user.lists.last) do %>
    <i class="fas fa-shopping-cart"></i>
    <p class="notification"><%= current_user.lists.last.items.sum(:quantity) if current_user.lists.last.items.count > 0 %></p>
  <% end %>
</div>



<% @lists.each do |list| %>
  <% if list.name.nil?  %>
    <% next %>
  <% else  %>
    <div class="index-list-card">
      <%= link_to list_path(list) do %>
        <div class="index-list-card-infos">
          <h3><%= list.name.capitalize %> </h3>
          <p><%= list.created_at.strftime("%b %d, %Y") %></p>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

