<div class="navbar-aicery">
  <%= link_to url_for(:back) do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <p>My Details</p>
  <%= link_to list_path(@cart_list) do %>
    <i class="fas fa-shopping-cart"></i>
      <% if @cart_list.items.count.positive? %>
        <p class="notification"><%= @cart_list.items.sum(:quantity)%></p>
      <% else %>
        <p class="notification-hidden"><%= @cart_list.items.sum(:quantity)%></p>
      <% end %>
  <% end %>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs-edit">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions-edit">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<div class="form-input-cancel">
  <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</div>
