<div class="navbar-aicery">
  <i class="fas fa-arrow-left hide"></i>
  <p class="courgette">aicery</p>
   <div>
   <%= link_to list_path(@cart_list) do %>
    <i class="fas fa-shopping-cart"></i>
      <% if @cart_list.items.count.positive?  %>
        <p class="notification"><%= @cart_list.items.sum(:quantity)%></p>
      <% else %>
        <p class="notification-hidden"><%= @cart_list.items.sum(:quantity)%></p>
      <% end %>
  <% end %>
  </div>
</div>

<div class="container-home-page">
  <div class="bar" data-controller="autocomplete"
                   data-autocomplete-url="<%= search_path %>">
    <%= form_tag root_path, method: :get, class: "form-home-page" do %>

      <div id= "search-data" class="form-search search-data" data-products="<%= @products.to_json %>">
        <i class="fas fa-search"></i>
        <%= text_field_tag :query, nil,
                           autocomplete: :off,
                           class: "form-control form-control-supremo",
                           placeholder: "What do you need to buy?",
                           data: {
                            action: "keyup->autocomplete#load",
                            target: "autocomplete.input"
                           } %>

      </div>
    <% end %>
    <br>
    <div data-target="autocomplete.results"></div>
  </div>
</div>

<div class="illustration">
  <%= image_tag("opz3.png") %>
</div>
