<div class="container-home-page">
  <div class="bar">
    <%= form_tag root_path, method: :get, class: "form-home-page" do %>
    <div id= "search-data" class="form-search search-data" data-products="<%= @products.to_json %>">
      <%= text_field_tag :query, nil, autocomplete: :off, class: "form-control", placeholder: "What do you need to buy?" %>
      <%= submit_tag "Search", class: "btn-ghost" %>
    </div>
    <% end %>
    <br>
    <%  @products.each do |product| %>
    <div class="card-product-home-page">
      <%= image_tag(product.photo) %>
      <%= product.name %>
      <%= product.quantity %>
      <%# link_to "Search", {:controller => "items", :action => "create", :product => product}, {:method => :post, :class => "new_link"}  %>
      <%= link_to "Search", items_path(product: product), method: :post,  class: "btn-ghost" %>
      <% end %>
    </div>
  </div>
</div>

