<div class="navbar-aicery">
  <%= link_to root_path do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <p>My Account</p>
  <%= link_to list_path(current_user.lists.last) do %>
    <i class="fas fa-shopping-cart"></i>
      <% if current_user.lists.last.items.count > 0 %>
        <p class="notification"><%= current_user.lists.last.items.sum(:quantity)%></p>
      <% else %>
        <p class="notification-hidden"><%= current_user.lists.last.items.sum(:quantity)%></p>
      <% end %>
  <% end %>
</div>

  <div class="card-profile">
    <%= link_to edit_user_registration_path :action => 'go' do %>
      <i class="fas fa-user"></i>
      <p>My Details</p>
    <% end %>
  </div>

  <div class="card-profile">
    <%= link_to lists_path, :action => 'go' do %>
      <i class="fas fa-cart-plus"></i>
      <p>My Lists</p>
    <% end %>
  </div>

  <div class="card-profile">
    <%= link_to destroy_user_session_path, method: :delete, :action => 'go' do %>
      <i class="fas fa-sign-out-alt"></i>
      <p>Logout</p>
    <% end %>
  </div>
